{% extends 'base.html' %}

{% block title %}Automobiliai{% endblock %}

{% block content %}

<div class="row">
    {% for car in cars %}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4 shadow-sm" style="width:300px">
                {% if car.photo %}
                    <img src="{{ car.photo.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">{{ car }}</h6>
                    <p class="card-text"><a href="{{ car.pk }}">{{ car.license_plate }}</a></p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<!-- {% for car in cars %} -->
<!-- <p><a href="{% url 'car' car.pk %}">{{ car }} ({{ car.license_plate }})</a></p>-->
<!-- {% endfor %}-->
{% endblock %}