{% extends 'base.html' %}
{% block title %}Uzsakymas{% endblock %}
{% block content %}
<p>Automobilis: {{ order.car }}</p>
<p>Data: {{ order.date }}</p>
<p class="{% if order.is_overdue %}text-danger{% endif %}">Terminas: {{ order.deadline }}</p>
<p>Klientas: {{ order.client }}</p>
<p>Busena: {{ order.get_status_display }}</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Paslauga</th>
            <th>Kaina</th>
            <th>Kiekis</th>
            <th>Suma</th>
        </tr>
    </thead>
    <tbody>
        {% for line in order.lines.all %}
            <tr>
                <td>{{ line.service.name }}</td>
                <td>{{ line.service.price }} €</td>
                <td>{{ line.quantity }}</td>
                <td>{{ line.line_sum }} €</td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan="3">BENDRA SUMA:</th>
            <th>{{ order.total }} €</th>
        </tr>
    </tbody>
</table>
{% endblock %}